<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="CSS/main.css">
</head>
<body>

    <h1>Testing Project</h1>
    <h2>  </h2>

    <form action="/api/students" method="POST">
    <input type="text" name="name" placeholder="Enter name" required>
    <input type="number" name="ssn" placeholder="Enter ssn" required>
    <input type="text" name="email" placeholder="Enter email" required>
    <input type="text" name="mobile" placeholder="Enter phone number" required>
    <input type="text" name="status" placeholder="Enter status" required>

       <button type="submit">Submit</button>
    </form>
    
</body>
</html>