h1 {
    color: blue;
    text-align: center;
  }
  
  body {
    background-color: coral;
  }
  
  form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  form input,
  form button {
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    font-size: 1.2rem;
    text-shadow: none;
    border: none;
  }
  
  form button {
    height: 2rem;
  }